{% load static %}
<html>
	<head>
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<title>Сайтец</title>
	</head>
	<body>
		<script>

			var send = (val) => {
				if (val == ""){
					val = "0"
				}
				console.log(val);
			var data = null;

			var xhr = new XMLHttpRequest();
			xhr.withCredentials = true;

			xhr.addEventListener("readystatechange", function () {
			  if (this.readyState === 4) {
			    console.log(this.responseText);
			    document.getElementById('rub').value = this.responseText
			  }
			});

			xhr.open("GET", `http://127.0.0.1:8000/convert?val=${val}`);
			xhr.setRequestHeader("Cache-Control", "no-cache");
			xhr.setRequestHeader("Postman-Token", "be1fe6b3-958c-435d-8136-549e4c1efb70");

			xhr.send(data);
		}
		</script>
		<div id = "block">
			<p id = "left">USD</p>
			<p id = "right">RUB</p>
			<div id = "form">
				<input type = "number" pattern="\d+(\.\d{2})?" id = "usd">
				<button id = "send" onclick="send(document.getElementById('usd').value)">конвертировать</button>
				<input id = "rub">
				
			</div>
		</div>
		
	</body>
</html>